<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.t100.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ty.t100.entity.Task">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="context" property="context" />
        <result column="audio" property="audio" />
        <result column="isVideo" property="isVideo" />
        <result column="publisher_id" property="publisherId" />
    </resultMap>

    <select id="listByUserId" parameterType="String" resultMap="BaseResultMap">
        select
            task.id as id,
            task.title as title,
            task.context as context,
            task.audio as audio,
            task.isVideo as isVideo,
            task.publisher_id as publisher_id
        from task_user taskUser
        left join task task on taskUser.task_id = task.id
        where taskUser.user_id = #{userId}
    </select>
</mapper>
