<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.t100.mapper.TaskIntegralMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ty.t100.entity.TaskIntegral">
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="task_id" property="taskId" />
        <result column="integral" property="integral" />
    </resultMap>

    <select id="listPageById" resultType="com.ty.t100.vo.IntegralVo">
        select
            ti.create_time as createTime,
            ti.task_id as integralId,
            ti.integral as integral,
            t.title as name,
            0 as integralType
        from task_integral ti
        left join task t on ti.task_id = t.id
        where ti.user_id = #{userId}
        order by ti.create_time desc
    </select>

</mapper>
