<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.t100.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ty.t100.entity.User">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="power" property="power" />
        <result column="group_id" property="groupId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap id="Group" type="com.ty.t100.vo.GroupVo">
        <id column="groupId" property="id"/>
        <result column="groupName" property="name"/>
        <collection property="children" javaType="java.util.ArrayList" column="group_id=groupId" select="getUserList"/>
    </resultMap>

    <select id="selectAll" resultMap="Group">
        select
            g.id as groupId,
            g.name as groupName
        from
            grouping g
    </select>

    <select id="getUserList" resultType="com.ty.t100.vo.UserVo">
        select
            u.id as id,
            u.name as name,
            u.nickname as nickname,
            u.power as power
        from
            user u
        where
            u.group_id = #{group_id}
            and u.power = 1
    </select>

    <select id="selectUserByTaskIdAndStatus" resultMap="Group">
        select
            g.id as groupId,
            g.name as groupName,
            u.id as userId,
            u.name as userName,
            u.power as userPower
        from task_user tu
        left join user u on u.id = tu.user_id
        left join grouping g on u.group_id = g.id
        where u.power = '1' and tu.task_id = #{taskId} and tu.status = #{status}
    </select>

</mapper>
