<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.t100.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ty.t100.entity.User">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="power" property="power" />
        <result column="group_id" property="groupId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap id="Group" type="com.ty.t100.vo.GroupVo">
        <id column="groupId" property="id"/>
        <result column="groupName" property="name"/>
        <collection property="children" javaType="java.util.ArrayList" ofType="com.ty.t100.vo.UserVo">
            <result column="userId" property="id"/>
            <result column="userName" property="name"/>
            <result column="userPower" property="power"/>
        </collection>
    </resultMap>

    <select id="selectAll" resultMap="Group">
        select
            g.id as groupId,
            g.name as groupName,
            u.id as userId,
            u.name as userName,
            u.power as userPower
        from user u
        left join t100.group g on u.group_id = g.id
        where u.power = '1'
    </select>

</mapper>
